@page
@{ 
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="container">
<div id="userinfo" class=" row">
    <label for="username">Please input your UserName</label>
    <input type="text" class="from-control" id="username" name="username" autocomplete="off"/>
    <button type="button" class="btn btn-block" onclick="SetUsername();">Join</button>
</div>
<div id="messagearea" class"row" style="display: none;">
    <div>Joined as : <b><span id="username1">Not yet</span></b></div>
    <hr />
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
    <hr />
    <input type="text" id="message" autocomplete="off" />
    <input type="button" id="sendButton" value="Send Message" />
</div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    "use strict";

    var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
    var username = "";

    //Disable send button until connection is established
    document.getElementById("sendButton").disabled = true;

    connection.on("RecieveMessage", function (user, message) {
        var msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt").replace(/>/g, "&gt;");
        var encodeMsg = user + "says: " + msg;
        var li = document.createElement("li");
        li.textContent = encodeMsg;
        document.getElementById("messagesList").appendChild(li);
    });

    connection.start().then(function () {
        document.getElementById("sendButton").disabled = false;
    }).catch(function (err) {
        return console.error(err.toString());
    });

    document.getElementById("sendButton").addEventListener("click", function (event) {
        var message = document.getElementById("message").value;
        connection.invoke("SendMessage", username, message).then(function () {
            document.getElementById("message").value = "";
        }).catch(function (err) {
            return console.error(err.toString());
        });
        event.preventDefault();
    });
    function SetUsername() {
        //check the username
        var usernameinput = document.getElementById("username").value;
        if (usernameinput === "") {
            alert("Please enter your username");
            return;
        }
        username = usernameinput;

        document.getElementById("userinfo").style.display = 'none';
        document.getElementById("messagearea").style.display = 'block';
        document.getElementById("username1").innerText = usernameinput;
    }
</script>